<%- include('../partials/header'); %>

<%- include('../partials/main_nav.ejs'); %>

<main class="container">
    <div class="row">
        <div class="col-md-offset col-md-11">
            <h1>Contacts</h1>
            <a href="/contact_list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact
            </a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class="d-flex">
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2"> Contact Name</th>
                        <th class="text-center col-2">Contact Number</th>
                        <th class="text-center col-2">Email Address</th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-2"></th>
                    <% } else { %>
                        <th class="text-center col-2">Contact Name</th>
                        <th class="text-center col-2">Contact Number</th>
                        <th class="text-center col-2">Email Address</th>
                    <% } %>
                </tr>

                <!--Repeatable Template-->
                <% for(let count = 0; count < ContactsList.length; count++) { %>
                    <tr class="d-flex">
                        <% if (typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2"><%= ContactsList[count].Name %></td>
                            <td class="text-center col-2"><%= ContactsList[count].Number %></td>
                            <td class="text-center col-2"><%= ContactsList[count].Email %></td>
                            <td class="text-center">
                                <a href="/contact_list/edit<%= ContactsList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit </a>
                            </td>
                            <td class="text-center">
                                <a href="/contact_list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete </a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-2"><%= ContactsList[count].Name %></td>
                            <td class="text-center col-2"><%= ContactsList[count].Number %></td>
                            <td class="text-center col-2"><%= ContactsList[count].Email %></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>  

<%- include('../partials/bottom_nav.ejs'); %>

<%- include('../partials/footer'); %>